<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.10pearls.base</string>
    <key>Ancestors</key>
    <array>
        <string>com.10pearls.base_DefinitionsInfoPlist</string>
        <string>com.10pearls.base_Options</string>
        <string>com.10pearls.base_ProjectSettings</string>
        <string>com.10pearls.base_TargetSettings</string>
    </array>
    <!-- Everything comes from the more granular ancestors above. -->
</dict>
</plist>
