<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Identifier</key>
        <string>com.10pearls.gitignore</string>
        <key>Nodes</key>
        <array>
            <string>../.gitignore</string>
        </array>
        <key>Options</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>languageChoice</string>
                <key>Units</key>
                <dict>
                    <key>Swift</key>
                    <dict>
                        <key>Definitions</key>
                        <dict>
                            <key>../.gitignore</key>
                            <dict>
                                <key>Path</key>
                                <string>swift/gitignore</string>
                                <key>Group</key>
                                <string>SupportingFiles</string>
                                <key>TargetIndices</key>
                                <array></array>
                            </dict>
                        </dict>
                    </dict>
                    <key>Objective-C</key>
                    <dict>
                        <key>Definitions</key>
                        <dict>
                            <key>../.gitignore</key>
                            <dict>
                                <key>Path</key>
                                <string>objc/gitignore</string>
                                <key>Group</key>
                                <string>SupportingFiles</string>
                                <key>TargetIndices</key>
                                <array></array>
                            </dict>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </array>
    </dict>
</plist>