<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Identifier</key>
        <string>com.10pearls.applicationBase</string>
        <key>Ancestors</key>
        <array>
            <string>com.10pearls.base</string>
            <string>com.10pearls.deviceChoice</string>
            <string>com.10pearls.languageChoice</string>
            <string>com.10pearls.testingChoices</string>
            <string>com.10pearls.gitignore</string>
        </array>
        <key>Concrete</key>
        <true/>
        <key>Description</key>
        <string>This template is the starting point for any iOS application built by TenPearls.</string>
        <key>SortOrder</key>
        <integer>2</integer>
        <key>Nodes</key>
        <array>
            <string>Resources/Assets.xcassets</string>
            <string>Resources/Base.lproj/LaunchScreen.storyboard</string>
            <string>___PACKAGENAME___-Info.plist:LaunchScreen</string>
        </array>
        <key>Definitions</key>
        <dict>
            <key>Resources/Assets.xcassets</key>
            <dict>
                <key>Path</key>
                <string>Images.xcassets</string>
                <key>Group</key>
                <string>Resources</string>
                <key>SortOrder</key>
                <integer>100</integer>
            </dict>
            <key>Resources/Base.lproj/LaunchScreen.storyboard</key>
            <dict>
                <key>Path</key>
                <string>LaunchScreen.storyboard</string>
                <key>Group</key>
                <string>Resources</string>
                <key>SortOrder</key>
                <integer>101</integer>
            </dict>
            <key>___PACKAGENAME___-Info.plist:LaunchScreen</key>
            <string><![CDATA[<key>UILaunchStoryboardName</key>
            <string>LaunchScreen</string>
            ]]></string>
            <key>SupportingFiles/main.m</key>
            <dict>
                <key>Path</key>
                <string>main.m</string>
                <key>Group</key>
                <string>SupportingFiles</string>
                <key>SortOrder</key>
                <integer>100</integer>
            </dict>
        </dict>
        <key>Targets</key>
        <array>
            <dict>
                <key>TargetIdentifier</key>
                <string>com.apple.dt.cocoaTouchApplicationTarget</string>
                <key>SharedSettings</key>
                <dict>
                    <key>INFOPLIST_FILE</key>
                    <string>___PACKAGENAME___/___PACKAGENAME___-Info.plist</string>
                    <key>PRODUCT_BUNDLE_IDENTIFIER</key>
                    <string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___</string>
                    <key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
                    <string>AppIcon</string>
                    <key>LD_RUNPATH_SEARCH_PATHS</key>
                    <string>$(inherited) @executable_path/Frameworks</string>
                </dict>
            </dict>
        </array>
        <key>Options</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>languageChoice</string>
                <key>Units</key>
                <dict>
                    <key>Swift</key>
                    <dict>
                        <key>Definitions</key>
                        <dict>
                            <key>AppDelegate/AppDelegate.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>swift/AppDelegate.swift</string>
                                <key>Group</key>
                                <string>AppDelegate</string>
                            </dict>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>AppDelegate/AppDelegate.swift</string>
                        </array>
                    </dict>
                    <key>Objective-C</key>
                    <dict>
                        <key>Definitions</key>
                        <dict>
                            <key>SupportingFiles/main.m</key>
                            <dict>
                                <key>Path</key>
                                <string>objc/main.m</string>
                                <key>Group</key>
                                <string>SupportingFiles</string>
                            </dict>
                            <key>AppDelegate/AppDelegate.m</key>
                            <dict>
                                <key>Path</key>
                                <string>objc/AppDelegate.m</string>
                                <key>Group</key>
                                <string>AppDelegate</string>
                            </dict>
                            <key>AppDelegate/AppDelegate.h</key>
                            <dict>
                                <key>Path</key>
                                <string>objc/AppDelegate.h</string>
                                <key>Group</key>
                                <string>AppDelegate</string>
                            </dict>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>SupportingFiles/main.m</string>
                            <string>AppDelegate/AppDelegate.m</string>
                            <string>AppDelegate/AppDelegate.h</string>
                        </array>
                    </dict>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
