<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Identifier</key>
        <string>com.10pearls.base_DefinitionsInfoPlist</string>
        <key>Nodes</key>
        <array>
            <string>___PACKAGENAME___-Info.plist:PackageType</string>
            <string>___PACKAGENAME___-Info.plist:Identifier</string>
            <string>___PACKAGENAME___-Info.plist:PlistVersion</string>
            <string>___PACKAGENAME___-Info.plist:Executable</string>
            <string>___PACKAGENAME___-Info.plist:BundleName</string>
            <string>___PACKAGENAME___-Info.plist:DevelopmentRegion</string>
            <string>___PACKAGENAME___-Info.plist:ProductVersion</string>
            <string>___PACKAGENAME___-Info.plist:iPhone</string>
            <string>___PACKAGENAME___-Info.plist:UIRequiredDeviceCapabilities:base</string>
            <string>___PACKAGENAME___-Info.plist:NSAppTransportSecurity</string>
        </array>
        <key>Definitions</key>
        <dict>
            <key>___PACKAGENAME___-Info.plist</key>
            <dict>
                <key>Beginning</key>
                <string><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
                <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
                <plist version="1.0">
                <dict>
                ]]></string>
                <key>End</key>
                <string><![CDATA[</dict>
                </plist>]]></string>
                <key>Indent</key>
                <integer>1</integer>
                <key>SortOrder</key>
                <integer>200</integer>
                <key>TargetIdentifiers</key>
                <array/>
                <key>SubstituteMacros</key>
                <true/>
                <key>Group</key>
                <string>SupportingFiles</string>
            </dict>
            <key>___PACKAGENAME___-Info.plist:Identifier</key>
            <string><![CDATA[<key>CFBundleIdentifier</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:PlistVersion</key>
            <string><![CDATA[<key>CFBundleInfoDictionaryVersion</key>
            <string>6.0</string>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:Executable</key>
            <string><![CDATA[<key>CFBundleExecutable</key>
            <string>$(EXECUTABLE_NAME)</string>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:BundleName</key>
            <string><![CDATA[<key>CFBundleName</key>
            <string>$(PRODUCT_NAME)</string>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:DevelopmentRegion</key>
            <string><![CDATA[<key>CFBundleDevelopmentRegion</key>
            <string>$(DEVELOPMENT_LANGUAGE)</string>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:ProductVersion</key>
            <string><![CDATA[<key>CFBundleShortVersionString</key>
            <string>1.0</string>
            <key>CFBundleVersion</key>
            <string>1</string>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:PackageType</key>
            <string><![CDATA[<key>CFBundlePackageType</key>
            <string>APPL</string>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:iPhone</key>
            <string><![CDATA[<key>LSRequiresIPhoneOS</key>
            <true/>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:UIRequiredDeviceCapabilities</key>
            <dict>
                <key>Beginning</key>
                <string><![CDATA[<key>UIRequiredDeviceCapabilities</key>
                <array>]]></string>
                <key>End</key>
                <string><![CDATA[</array>]]></string>
                <key>Indent</key>
                <integer>1</integer>
            </dict>
            <key>___PACKAGENAME___-Info.plist:UIRequiredDeviceCapabilities:base</key>
            <string><![CDATA[<string>armv7</string>]]></string>
            <key>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</key>
            <string><![CDATA[<key>UISupportedInterfaceOrientations</key>
            <array>
                <string>UIInterfaceOrientationPortrait</string>
            </array>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</key>
            <string><![CDATA[<key>UISupportedInterfaceOrientations~ipad</key>
            <array>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
            ]]></string>
            <key>___PACKAGENAME___-Info.plist:NSAppTransportSecurity</key>
            <string><![CDATA[<key>NSAppTransportSecurity</key>
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
            ]]></string>
        </dict>
        <key>Options</key>
        <array>
            <dict>
                <key>Identifier</key>
                <string>deviceChoice</string>
                <key>Units</key>
                <dict>
                    <key>Universal</key>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</string>
                            <string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</string>
                        </array>
                    </dict>
                    <key>iPhone</key>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</string>
                        </array>
                    </dict>
                    <key>iPad</key>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</string>
                        </array>
                    </dict>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
