<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>This generates a Control following TenPearls standard template. It consists of a View and a nib.</string>
	<key>Summary</key>
	<string>This generates a Control following TenPearls standard template.</string>
	<key>DefaultCompletionName</key>
	<string>MyControl</string>
	<key>SortOrder</key>
	<string>10</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Class:</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Description</key>
			<string>The name of the Control to create</string>
			<key>NotPersisted</key>
			<string>Yes</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Subclass of (IGNORED) :</string>
			<key>Identifier</key>
			<string>testSubclass</string>
			<key>Description</key>
			<string>Parent class of the new class. However this is currently ignored.</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>class</string>
			<key>Default</key>
			<string>BaseView</string>
			<key>Values</key>
			<array>
				<string>BaseView</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Language:</string>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Description</key>
			<string>The implementation language</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Default</key>
			<string>Objective-C</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
				<string>Objective-C</string>
			</array>
			<key>AllowedTypes</key>
			<dict>
				<key>Objective-C</key>
				<array>
					<string>public.objective-c-source</string>
					<string>public.objective-c-plus-plus-source</string>
				</array>
				<key>Swift</key>
				<array>
					<string>public.swift-source</string>
				</array>
			</dict>
			<key>MainTemplateFiles</key>
			<dict>
				<key>Objective-C</key>
				<string>___FILEBASENAME___.m</string>
				<key>Swift</key>
				<string>___FILEBASENAME___.swift</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
