<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.10pearls.testingChoices</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>hasUnitTests</string>
            <key>Name</key>
            <string>Include Unit Tests</string>
            <key>NotPersisted</key>
            <false/>
            <key>SortOrder</key>
            <integer>100</integer>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
                            <key>Name</key>
                            <string>___PACKAGENAME___Tests</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>hasUITests</string>
            <key>Name</key>
            <string>Include UI Tests</string>
            <key>NotPersisted</key>
            <false/>
            <key>SortOrder</key>
            <integer>101</integer>
            <key>Type</key>
            <string>checkbox</string>
            <key>Default</key>
            <string>true</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <dict>
                    <key>Components</key>
                    <array>
                        <dict>
                            <key>Identifier</key>
                            <string>com.apple.dt.unit.cocoaTouchApplicationUITestBundle</string>
                            <key>Name</key>
                            <string>___PACKAGENAME___UITests</string>
                        </dict>
                    </array>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>