<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.10pearls.iosApp</string>
	<key>Ancestors</key>
	<array>
		<string>com.10pearls.applicationBase</string>
		<string>com.10pearls.deviceChoice</string>
		<string>com.10pearls.languageChoice</string>
		<string>com.10pearls.testingChoices</string>
		<string>com.10pearls.pod</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template is the starting point for any iOS application built by TenPearls.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>SWIFT_OBJC_BRIDGING_HEADER</key>
				<string>___PACKAGENAME___/SupportingFiles/Headers/___PACKAGENAME___-Bridging-Header.h</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate/AppDelegate.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/AppDelegate/AppDelegate.swift</string>
							<key>Group</key>
							<string>AppDelegate</string>
						</dict>
						<key>Components/CollectionViewCell.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Components/CollectionViewCell.swift</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Components/TableViewCell.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Components/TableViewCell.swift</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Constants/Colors.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Constants/Colors.swift</string>
							<key>Group</key>
							<string>Constants</string>
						</dict>
						<key>Constants/Constants.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Constants/Constants.swift</string>
							<key>Group</key>
							<string>Constants</string>
						</dict>
						<key>Constants/Strings.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Constants/Strings.swift</string>
							<key>Group</key>
							<string>Constants</string>
						</dict>
						<key>Constants/Fonts.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Constants/Fonts.swift</string>
							<key>Group</key>
							<string>Constants</string>
						</dict>
						<key>Controls/NibDesignable.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Controls/NibDesignable.swift</string>
							<key>Group</key>
							<string>Controls</string>
						</dict>
						<key>Controls/Label.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Controls/Label.swift</string>
							<key>Group</key>
							<string>Controls</string>
						</dict>
						<key>Controls/TableView.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Controls/TableView.swift</string>
							<key>Group</key>
							<string>Controls</string>
						</dict>
						<key>Controls/TextField.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Controls/TextField.swift</string>
							<key>Group</key>
							<string>Controls</string>
						</dict>
						<key>Controls/Button.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Controls/Button.swift</string>
							<key>Group</key>
							<string>Controls</string>
						</dict>
						<key>Entities/Meta.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Entities/Meta.swift</string>
							<key>Group</key>
							<string>Entities</string>
						</dict>
						<key>Entities/ServiceError.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Entities/ServiceError.swift</string>
							<key>Group</key>
							<string>Entities</string>
						</dict>
						<key>Entities/NavigationBarItem.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Entities/NavigationBarItem.swift</string>
							<key>Group</key>
							<string>Entities</string>
						</dict>
						<key>Entities/User.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Entities/User.swift</string>
							<key>Group</key>
							<string>Entities</string>
						</dict>
						<key>Extensions/BaseController/BaseController+ActivityIndicator.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Extensions/BaseController/BaseController+ActivityIndicator.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>BaseController</string>
							</array>
						</dict>
						<key>Extensions/BaseController/BaseController+ErrorHandling.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Extensions/BaseController/BaseController+ErrorHandling.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>BaseController</string>
							</array>
						</dict>
						<key>Extensions/BaseController/BaseController+NavigationBar.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Extensions/BaseController/BaseController+NavigationBar.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>BaseController</string>
							</array>
						</dict>
						<key>Extensions/BaseController/BaseController+Routing.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Extensions/BaseController/BaseController+Routing.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>BaseController</string>
							</array>
						</dict>
						<key>Extensions/BaseController/BaseController+ViewLoader.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Extensions/BaseController/BaseController+ViewLoader.swift</string>
							<key>Group</key>
							<array>
								<string>Extensions</string>
								<string>BaseController</string>
							</array>
						</dict>
						<key>Extensions/String+Utils.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Extensions/String+Utils.swift</string>
							<key>Group</key>
							<string>Extensions</string>
						</dict>
						<key>Extensions/UIView+Utils.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Extensions/UIView+Utils.swift</string>
							<key>Group</key>
							<string>Extensions</string>
						</dict>
						<key>Extensions/Coders.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Extensions/Coder.swift</string>
							<key>Group</key>
							<string>Extensions</string>
						</dict>
						<key>Factories/ButtonFactory.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Factories/ButtonFactory.swift</string>
							<key>Group</key>
							<string>Factories</string>
						</dict>
						<key>ObjC/TryCatch.h</key>
						<dict>
							<key>Path</key>
							<string>swift/ObjC/TryCatch.h</string>
							<key>Group</key>
							<string>ObjC</string>
						</dict>
						<key>ObjC/TryCatch.m</key>
						<dict>
							<key>Path</key>
							<string>swift/ObjC/TryCatch.m</string>
							<key>Group</key>
							<string>ObjC</string>
						</dict>
						<key>Protocols/NavigationBarDataSource.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Protocols/NavigationBarDataSource.swift</string>
							<key>Group</key>
							<string>Protocols</string>
						</dict>
						<key>Protocols/NibLoadable.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Protocols/NibLoadable.swift</string>
							<key>Group</key>
							<string>Protocols</string>
						</dict>
						<key>Protocols/ReusableView.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Protocols/ReusableView.swift</string>
							<key>Group</key>
							<string>Protocols</string>
						</dict>
						<key>Protocols/ViewLifeCycle.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Protocols/ViewLifeCycle.swift</string>
							<key>Group</key>
							<string>Protocols</string>
						</dict>
						<key>Protocols/CellConfigurable.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Protocols/CellConfigurable.swift</string>
							<key>Group</key>
							<string>Protocols</string>
						</dict>
						<key>Scenes/Base/BaseController.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Scenes/Base/BaseController.swift</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Base</string>
							</array>
						</dict>
						<key>Scenes/Base/BaseView.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Scenes/Base/BaseView.swift</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Base</string>
							</array>
						</dict>
						<key>Scenes/Login/LoginController.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Scenes/Login/LoginController.swift</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Login</string>
							</array>
						</dict>
						<key>Scenes/Login/LoginView.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Scenes/Login/LoginView.swift</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Login</string>
							</array>
						</dict>
						<key>Scenes/Login/LoginView.xib</key>
						<dict>
							<key>Path</key>
							<string>swift/Scenes/Login/LoginView.xib</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Login</string>
							</array>
						</dict>
						<key>ServiceResponses/ApiResponse.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/ServiceResponses/ApiResponse.swift</string>
							<key>Group</key>
							<string>ServiceResponses</string>
						</dict>
						<key>Services/Helpers/HTTPRequest.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Services/Helpers/HTTPRequest.swift</string>
							<key>Group</key>
							<string>Services</string>
						</dict>
						<key>Services/Helpers/NetworkDataResponse.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Services/Helpers/NetworkDataResponse.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Helpers</string>
							</array>
						</dict>
						<key>Services/Helpers/ServiceRequestAdaptor.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Services/Helpers/ServiceRequestAdaptor.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Helpers</string>
							</array>
						</dict>
						<key>Services/HTTPServices/HTTPAuthService.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Services/HTTPServices/HTTPAuthService.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>HTTPServices</string>
							</array>
						</dict>
						<key>Services/Protocols/HTTPRequestProtocol.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Services/Protocols/HTTPRequestProtocol.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Protocols</string>
							</array>
						</dict>
						<key>Services/Protocols/RequestProtocol.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Services/Protocols/RequestProtocol.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Protocols</string>
							</array>
						</dict>
						<key>Services/Encodings/JSONArrayEncoding.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Services/Encodings/JSONArrayEncoding.swift</string>
							<key>Group</key>
							<array>
								<string>Services</string>
								<string>Encodings</string>
							</array>
						</dict>
						<key>SupportingFiles/Headers/___PACKAGENAME___-Bridging-Header.h</key>
						<dict>
							<key>Path</key>
							<string>swift/SupportingFiles/Headers/Bridging-Header.h</string>
							<key>Group</key>
							<array>
								<string>SupportingFiles</string>
								<string>Headers</string>
							</array>
						</dict>
						<key>SupportingFiles/Headers/Headers.h</key>
						<dict>
							<key>Path</key>
							<string>swift/SupportingFiles/Headers/Headers.h</string>
							<key>Group</key>
							<array>
								<string>SupportingFiles</string>
								<string>Headers</string>
							</array>
						</dict>
						<key>Utils/Alert.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Utils/Alert.swift</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/Appearance.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Utils/Appearance.swift</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Enums/Enums.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Enums/Enums.swift</string>
							<key>Group</key>
							<string>Enums</string>
						</dict>
						<key>Helpers/Defaults.swift</key>
						<dict>
							<key>Path</key>
							<string>swift/Helpers/Defaults.swift</string>
							<key>Group</key>
							<string>Helpers</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate/AppDelegate.swift</string>
						<string>Components/CollectionViewCell.swift</string>
						<string>Components/TableViewCell.swift</string>
						<string>Constants/Constants.swift</string>
						<string>Constants/Colors.swift</string>
						<string>Constants/Fonts.swift</string>
						<string>Constants/Strings.swift</string>
						<string>Controls/NibDesignable.swift</string>
						<string>Controls/Label.swift</string>
						<string>Controls/TableView.swift</string>
						<string>Controls/TextField.swift</string>
						<string>Controls/Button.swift</string>
						<string>Entities/ServiceError.swift</string>
						<string>Entities/Meta.swift</string>
						<string>Entities/NavigationBarItem.swift</string>
						<string>Entities/User.swift</string>
						<string>Extensions/BaseController/BaseController+ActivityIndicator.swift</string>
						<string>Extensions/BaseController/BaseController+ErrorHandling.swift</string>
						<string>Extensions/BaseController/BaseController+NavigationBar.swift</string>
						<string>Extensions/BaseController/BaseController+Routing.swift</string>
						<string>Extensions/BaseController/BaseController+ViewLoader.swift</string>
						<string>Extensions/String+Utils.swift</string>
						<string>Extensions/UIView+Utils.swift</string>
						<string>Extensions/Coders.swift</string>
						<string>Factories/ButtonFactory.swift</string>
						<string>ObjC/TryCatch.h</string>
						<string>ObjC/TryCatch.m</string>
						<string>Protocols/NavigationBarDataSource.swift</string>
						<string>Protocols/NibLoadable.swift</string>
						<string>Protocols/ReusableView.swift</string>
						<string>Protocols/CellConfigurable.swift</string>
						<string>Protocols/ViewLifeCycle.swift</string>
						<string>Scenes/Base/BaseController.swift</string>
						<string>Scenes/Base/BaseView.swift</string>
						<string>Scenes/Login/LoginController.swift</string>
						<string>Scenes/Login/LoginView.swift</string>
						<string>Scenes/Login/LoginView.xib</string>
						<string>ServiceResponses/ApiResponse.swift</string>
						<string>Services/Helpers/HTTPRequest.swift</string>
						<string>Services/Helpers/NetworkDataResponse.swift</string>
						<string>Services/Helpers/ServiceRequestAdaptor.swift</string>
						<string>Services/HTTPServices/HTTPAuthService.swift</string>
						<string>Services/Protocols/HTTPRequestProtocol.swift</string>
						<string>Services/Protocols/RequestProtocol.swift</string>
						<string>Services/Encodings/JSONArrayEncoding.swift</string>
						<string>SupportingFiles/Headers/___PACKAGENAME___-Bridging-Header.h</string>
						<string>SupportingFiles/Headers/Headers.h</string>
						<string>Utils/Alert.swift</string>
						<string>Utils/Appearance.swift</string>
						<string>Enums/Enums.swift</string>
						<string>Helpers/Defaults.swift</string>
					</array>
				</dict>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate/AppDelegate.m</key>
						<dict>
							<key>Path</key>
							<string>objc/AppDelegate/AppDelegate.m</string>
							<key>Group</key>
							<string>AppDelegate</string>
						</dict>
						<key>AppDelegate/AppDelegate.h</key>
						<dict>
							<key>Path</key>
							<string>objc/AppDelegate/AppDelegate.h</string>
							<key>Group</key>
							<string>AppDelegate</string>
						</dict>
						<key>Categories/UIView+UIViewRect.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Categories/UIView+UIViewRect.m</string>
							<key>Group</key>
							<string>Categories</string>
						</dict>
						<key>Categories/UIView+UIViewRect.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Categories/UIView+UIViewRect.h</string>
							<key>Group</key>
							<string>Categories</string>
						</dict>
						<key>Components/Button.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Components/Button.m</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Components/Button.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Components/Button.h</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Components/Label.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Components/Label.m</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Components/Label.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Components/Label.h</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Components/TableViewCell.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Components/TableViewCell.m</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Components/TableViewCell.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Components/TableViewCell.h</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Components/TextField.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Components/TextField.m</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Components/TextField.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Components/TextField.h</string>
							<key>Group</key>
							<string>Components</string>
						</dict>
						<key>Constants/Constant.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Constants/Constant.h</string>
							<key>Group</key>
							<string>Constants</string>
						</dict>
						<key>Controls/NibDesignable.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Controls/NibDesignable.h</string>
							<key>Group</key>
							<string>Controls</string>
						</dict>
						<key>Controls/NibDesignable.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Controls/NibDesignable.m</string>
							<key>Group</key>
							<string>Controls</string>
						</dict>
						<key>Scenes/Base/BaseController.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Scenes/Base/BaseController.m</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Base</string>
							</array>
						</dict>
						<key>Scenes/Base/BaseController.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Scenes/Base/BaseController.h</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Base</string>
							</array>
						</dict>
						<key>Scenes/Base/BaseView.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Scenes/Base/BaseView.m</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Base</string>
							</array>
						</dict>
						<key>Scenes/Base/BaseView.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Scenes/Base/BaseView.h</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Base</string>
							</array>
						</dict>
						<key>Scenes/Login/LoginController.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Scenes/Login/LoginController.m</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Login</string>
							</array>
						</dict>
						<key>Scenes/Login/LoginController.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Scenes/Login/LoginController.h</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Login</string>
							</array>
						</dict>
						<key>Scenes/Login/LoginView.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Scenes/Login/LoginView.m</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Login</string>
							</array>
						</dict>
						<key>Scenes/Login/LoginView.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Scenes/Login/LoginView.h</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Login</string>
							</array>
						</dict>
						<key>Scenes/Login/LoginView.xib</key>
						<dict>
							<key>Path</key>
							<string>objc/Scenes/Login/LoginView.xib</string>
							<key>Group</key>
							<array>
								<string>Scenes</string>
								<string>Login</string>
							</array>
						</dict>
						<key>Service/Base/BaseService.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Service/Base/BaseService.m</string>
							<key>Group</key>
							<array>
								<string>Service</string>
								<string>Base</string>
							</array>
						</dict>
						<key>Service/Base/BaseService.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Service/Base/BaseService.h</string>
							<key>Group</key>
							<array>
								<string>Service</string>
								<string>Base</string>
							</array>
						</dict>
						<key>Service/Factory/Service.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Service/Factory/Service.m</string>
							<key>Group</key>
							<array>
								<string>Service</string>
								<string>Factory</string>
							</array>
						</dict>
						<key>Service/Factory/Service.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Service/Factory/Service.h</string>
							<key>Group</key>
							<array>
								<string>Service</string>
								<string>Factory</string>
							</array>
						</dict>
						<key>Utils/Color.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/Color.m</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/Color.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/Color.h</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/DateUtils.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/DateUtils.m</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/DateUtils.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/DateUtils.h</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/Font.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/Font.m</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/Font.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/Font.h</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/ParserUtils.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/ParserUtils.m</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/ParserUtils.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/ParserUtils.h</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/StringUtils.m</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/StringUtils.m</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
						<key>Utils/StringUtils.h</key>
						<dict>
							<key>Path</key>
							<string>objc/Utils/StringUtils.h</string>
							<key>Group</key>
							<string>Utils</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate/AppDelegate.h</string>
						<string>AppDelegate/AppDelegate.m</string>
						<string>Categories/UIView+UIViewRect.h</string>
						<string>Categories/UIView+UIViewRect.m</string>
						<string>Components/Button.h</string>
						<string>Components/Button.m</string>
						<string>Components/Label.h</string>
						<string>Components/Label.m</string>
						<string>Components/TableViewCell.h</string>
						<string>Components/TableViewCell.m</string>
						<string>Components/TextField.h</string>
						<string>Components/TextField.m</string>
						<string>Constants/Constant.h</string>
						<string>Controls/NibDesignable.h</string>
						<string>Controls/NibDesignable.m</string>
						<string>Scenes/Base/BaseController.h</string>
						<string>Scenes/Base/BaseController.m</string>
						<string>Scenes/Base/BaseView.h</string>
						<string>Scenes/Base/BaseView.m</string>
						<string>Scenes/Login/LoginController.h</string>
						<string>Scenes/Login/LoginController.m</string>
						<string>Scenes/Login/LoginView.h</string>
						<string>Scenes/Login/LoginView.m</string>
						<string>Scenes/Login/LoginView.xib</string>
						<string>Service/Base/BaseService.h</string>
						<string>Service/Base/BaseService.m</string>
						<string>Service/Factory/Service.h</string>
						<string>Service/Factory/Service.m</string>
						<string>Utils/Color.h</string>
						<string>Utils/Color.m</string>
						<string>Utils/DateUtils.h</string>
						<string>Utils/DateUtils.m</string>
						<string>Utils/Font.h</string>
						<string>Utils/Font.m</string>
						<string>Utils/ParserUtils.h</string>
						<string>Utils/ParserUtils.m</string>
						<string>Utils/StringUtils.h</string>
						<string>Utils/StringUtils.m</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
